<div class="container" *ngIf="pantera">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"
                    [(ngModel)]="pantera.nombre" required>
                    <select class="form-control" [(ngModel)]="pantera.idEjercito" (change)="definirIdEjer($event)">
                        <option></option>
                        <option *ngFor="let ejercito of ejercitos"  value="{{ejercito.id}}" >{{ejercito.nombre}}</option>
                    </select>
                </div>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Actualizar</button>
            </form>
        </div>
    </div>
</div>